

.NavBar-Container {
    background: linear-gradient(to right, black 60px, rgb(128,128,128) 15vw,  rgba(255,255,255,0.7) 20vw);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lettersOnly {
    width: 30%;
    align-self: center;
    
}

.Left {
    display: flex;
    width: 30%;
}

.logoOnly {
    width: 60px;
    height: 60px;
    justify-self: self-start;
    position: relative;
    left: 5%;
    align-self: center;
    cursor: pointer;
}

.flexTest {
    display: flex;
    gap: 4%;
    width: 30%; 
    align-items: flex-end;
    justify-content: right;
}

.flexTest a {
    position: relative;
    right: 3%;
    text-decoration: underline;
    color: black;
    font-family:  'Roboto', 'helvetica';
    font-size: 1.1rem;
}

@media screen and (max-width: 600px) {
    .NavBar-Container{
        background: linear-gradient(to right, black 60px, rgb(128,128,128) 20vw,  rgba(255,255,255,0.7) 25vw); ;
        width: 100vw;
    }
}

@media (orientation: portrait) {
    .flexTest{
        width:27.5%;
        
    }

    .flexTest img {
        width: 50%;
        float: right;
    }

    .lettersOnly {
        width: 45%;
    }
    .left {
        width:27.5%;
    }
    .hide-dropDown{
       height: 100%;
       
    }
    .menu{
        height: 13%;
        display: flex;
        margin-right: 0%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0,0,0,1);
        border-top-left-radius:0px; 
        border-top-right-radius:0px;
        border-bottom: solid black 2px;
    }
    .menu img {
        width: 20%;
        
    }
    .menu h3 {
        padding-left: 5%;
        color: white;
        font-family: 'Roboto', 'helvetica neue', helvetica, arial, sans-serif;
        font-size: 1.8rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        transition: background-color 1s ease-in-out;
    }

    .hide-dropDown a {
        display: none;
    }

  

    .hide-dropDown .closeIcon {
        display: none;
    }

   

    .show {
        display: flex;
        justify-content: start;
        align-items: end;
        gap:5%;
        top: 0%;
        background-color: rgba(203,213,215,1);
        border: black solid 2px;
        z-index: 1000;
        width: 70vw;
        height: 60vh;
        position: absolute;
        border-radius: 0px;
        flex-direction: column;
        opacity: 0; /* Start with transparent background */
        transform: translateX(100%); /* Start off-screen to the right */
        animation: slideIn 2s ease-in-out forwards; /* Apply the animation */
    }

    @keyframes slideIn {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    .links {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: end;
        margin-top: -15%;
        width: 100%;
    }

    

    .show a {
        font-weight:bold;
        font-size: 165%;
        border-bottom: solid black 2px;
        width: 80%;
        text-decoration: none;
        text-align: right;
    }


   
    

    
    .show .hideIcon  {
        display: none
    }

    .hide-dropDown .menu {
        display: none;
    }

    .show.hide-dropDown {
        height: 0;
    }
    
 
}