
.desktop {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.productsTextBox {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Roboto', 'Helvetica';
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4%;
    
}

.productsPicturesBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
    margin-top: -5%;
    gap: 1%;
}


.arrow-up{
    width: 4%;
    rotate: 180deg;
    background-color: rgba(0,0,0,0.8);
    border-radius: 100%;
    padding: 2%;
    cursor: pointer;
}

.cap {
    width: 35%;
    border: white solid 2px;
}

.arrow-down{
    width: 4%;
    rotate: 0deg;
    background-color: rgba(0,0,0,0.8);
    border-radius: 100%;
    padding: 2%;
    cursor: pointer;
}

.bottom h3 {
    color: white;
    font-size: 170%;
    margin-bottom: 0;
    
}

.bottom h4 {
    color: white;
    text-align: center;
    margin-bottom: 10%;
    font-size: 103%;
    
    
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    padding-bottom: -1%;
    padding-top: 2%;
    width: 37%;
    height: 140px;
    border-radius: 15px;
    border: white solid 1px;
    justify-content: center;
    color: white;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
}



@media (orientation: portrait){




.productsTextBox {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Roboto', 'Helvetica';
    font-size: 2rem;
    text-align: center;
    
}

.productsPicturesBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
    margin-top: -5%;
}


.arrow-up{
    width: 6%;
    rotate: -90deg;
    background-color: rgba(0,0,0,0.8);
    border-radius: 100%;
    padding: 2%;
}

.cap {
    width: 95%;
}

.arrow-down{
    width: 6%;
    rotate: 90deg;
    background-color: rgba(0,0,0,0.8);
    border-radius: 100%;
    padding: 2%
}

.productsPicturesBox h3 {
    color: white;
    font-size: 10%;
    margin-top: 0;
    
}

.bottom h4 {
    color: white;
    text-align: center;
    font-size: 93%;
    margin-top: 0;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    padding-bottom: -1%;
    padding-top: 2%;
    width: 98%;
    height: 140px;
    border-radius: 15px;
    border: white solid 1px;
    justify-content: center;
    text-align: center;
    margin-bottom: 2%;
}

}